body{
  background-image: url('./messy.jpg');
  background-size: 100% 
  

  
}
h2{
  font-family: 'Libre Baskerville', serif;
  
}
#hiden{
  display:none; 
}
.image{
  height: 34px;
  width:35px;
  background-image: url('./magnifying.png');
  background-size: contain;
  background-repeat: no-repeat;
  position:absolute;
  margin-left: 600px;
  margin-top: -30px;

}
.inputAndButton{
margin: auto;
width:694px;
height:40px;
border-radius: 20px;
background-color: whitesmoke;
}
input{
  width:530px;
  height:34px;
  background-color:whitesmoke;
}
.navItems:hover {
  background-color: lightcoral;
}
.navItems{
  background-color:rgba(100,100,100,.05);
  font-family: 'Libre Baskerville', serif;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color:white;
}

.App {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  background-color: rgba(108, 122, 137, .5)
}
.HomeContainer{
  
  text-align: center;

}
.input{
  width:500px;
  height: 25px;

}
.mainContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'Libre Baskerville', serif;
  
}
.citationsContainer{
  background-color: rgba(108, 122, 137, .5);
  color:white;
  padding: 15px;  
}

.favoritesContainer{
  background-color: rgba(108, 122, 137, .5);
  color: white ;
flex: left;

}
.nav{

  justify-content: space-between;
  height: 40px;
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
  color:white;
  background-color :rgba(108, 122, 137, .5)
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
