
h2{
  font-family: 'Libre Baskerville', serif;
  
}
#hiden{
  display:none;
}
.App {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}
.HomeContainer{
  
  text-align: center;

}
.mainContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.favoritesContainer{
flex: left;

}
.nav{
  height: 40px;
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
  color:white;
  background-color :rgba(108, 122, 137, .5)
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
